@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Questrial&display=swap');

* {
    font-family: "Questrial", sans-serif;

}

.t {
    font-size: 95px;
    text-align: center;
}

.t-2 {
    font-size: 85px;
    text-align: center;
}

.t-3 {
    font-size: 85px;
    text-align: center;
}

.p {
    font-size: 40px;
    margin: 5%;
    text-align: center;    
}

.p-2 {
   display: flex;
   justify-content: start;
   margin: 5%;
   font-size: 40px;
}

.a {
    color: black
}

.a-2 {
    font-size: 20px;
    margin-left: 5mm;
    color: black;
}

.a-2:hover {
   background-color: whitesmoke;
   transition: 0.7s linear;
}

.b {
    border: white solid;
    background-color: white;
    font-size: 20px;
    text-decoration: solid;
    margin-left: 5mm;
}

.b:hover {
    text-decoration: underline black;
}

.footer {
    text-align: end;
}

.b-2 {
    font-size: 20px;
    border: white solid;
    color: black;
    background-color: transparent;
}

@media (max-width:782px) {
    .t-2 {
        font-size: 65px; 
    }

    .t-3 {
        font-size: 60px;
    }

    .p {
        text-align: center;
    }

    .footer {
        text-align: end;
    }
}